@charset "UTF-8";

@font-face {
	font-family: "OneShinhan";
	src: url("./font/OneShinhanMedium.ttf");
}

@font-face {
	font-family: "OneShinhanLight";
	src: url("./font/OneShinhanLight.ttf");
}

@font-face {
	font-family: "OneShinhanBold";
	src: url("./font/OneShinhanBold.ttf");
}

* {
	margin: 0px;
	padding: 0px;
	letter-spacing: -1px;
	font-family: Noto Sans, sans-serif, arial;
}

body, html {
	background-color: #eaeaea;
}

ul, li {
	list-style: none;
}

.RecSccM_wrap {
	width: 1200px;
	height: auto;
	margin: 0 auto;
}

.RecSccM_headr {
	float: left;
	clear: both;
	width: 100%;
	height: auto;
	text-align: center;
	background-color: #3da0e3;
	color: #ffffff;
}

.RecSccM_headr p {
	margin: 10px 0;
	font-size: 18px;
}

#Msgbar {
	font-size: 20px;
	line-height: 36px;
	position: sticky;
	top: 200px;
	left: 15px;
	width: 280px;
	height: 280px;
}

#MsgOutput {
	
}

.RecSccM_body {
	position: relative;
	float: left;
	clear: both;
	width: calc(100% - 40px);
	height: auto;
	padding: 0 20px;
	padding-bottom: 20px;
	background-color: #ffffff;
}

.RecSccM_index .RecSccM_index_txt {
	text-align: left;
	text-indent: 15px;
	font-size: 26px;
	font-weight: bold;
	color: #3da0e3;
}


.RecSccM_index ul li:hover {
	color: #3da0e3;
	background-color: #f1f1f1;
}

.prev_page {
	position: fixed;
	width: 55px;
	height: 55px;
	bottom: 20px;
	right: 20px;
	text-align: center;
	border-radius: 500px;
	background-color: #3da0e3;
	color: #ffffff;
	border: 1px solid #3da0e3;
	transition: all ease 0.4s;
}

.prev_page:hover {
	background-color: #1777b7;
	border: 1px solid #1777b7;
}

input {
	width: 300px;
	height: 50px;
	left: 103px;
	top: 5px;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */
	border: none;
	border-right: 0px;
	border-top: 0px;
}

.bar {
	padding: 5px;
	color: #333333;
	margin: 10px;
	background-color: #eaeaea;
	border-left: 3px solid #50b7fd;
	text-indent: 5px;
	transition: all ease 0.3s;
	height: 400px;
}

.barlo {
	padding: 5px;
	color: #333333;
	margin: 10px;
	background-color: #eaeaea;
	border-left: 3px solid #50b7fd;
	text-indent: 5px;
	transition: all ease 0.3s;
	height: 650px;
}

.infobox {
	height: 200px;
	left: 103px;
	top: 5px;
}

.key {
	width: 180px;
	font-weight: 500;
	font-size: 24px;
	line-height: 36px;
	/* identical to box height */
	border: none;
	border-right: 0px;
	border-top: 0px;
	text-align: center;
}

#Logint {
	font-size: 20px;
	line-height: 36px;
	position: absolute;
	width: 450px;
	height: 380px;
	left: 700px;
	top: 60px;
}

#MakeCallt {
	font-size: 20px;
	line-height: 36px;
	position: absolute;
	width: 450px;
	height: 380px;
	left: 700px;
	top: 480px;
}

#MakeCall2t {
	font-size: 20px;
	line-height: 36px;
	position: absolute;
	width: 450px;
	height: 580px;
	left: 700px;
	top: 900px;
}

#DropCallt {
	font-size: 20px;
	line-height: 36px;
	position: absolute;
	width: 450px;
	height: 380px;
	left: 700px;
	top: 1520px;
}

#CallTransfert {
	font-size: 20px;
	line-height: 36px;
	position: absolute;
	width: 450px;
	height: 380px;
	left: 700px;
	top: 1940px;
}

#CallThreeWayt {
	font-size: 20px;
	line-height: 36px;
	position: absolute;
	width: 450px;
	height: 380px;
	left: 700px;
	top: 2360px;
}

.butimg {
	width: 200px;
	height: auto;
	background-color: white;
}
.btnSend {
	width: 200px;
	height: auto;
	
}

#Callbar{
	font-size: 20px;
	line-height: 36px;
	position: absolute;
	width: 600px;
	height: 50px;
	left: 500px;
	top: 885px;
	background-color: #f1f1f1;
}

button {
	width: 100px;
	height: 40px;
}

#popup_calling_bar{
	text-align: center;

	width: 810px;
	height: 60px;
	left: 447px;
	top: 458px;

	background: #ffffff;
	border-radius: 50px;
}

.calling_img{
	position: absolute;
	width: 50px;
	height: 50px;
	top:54px;
	left: 45px;	
}
#calling_type{
	position: absolute;
	font-family: "OneShinhan";
	font-size: 30px;
	line-height: 36px;
	width: 200px;
	top: 59px;;
	left: 100px;	
}
.Stick1{
	position: absolute;
	width: 30px;
	height: 0px;
	top: 78px;
	left: 280px;

	border: 1px solid #C2C2C2;
	transform: rotate(90deg);
}
#calling_nackname{
	position: absolute;
	font-family: "OneShinhan";
	font-size: 20px;
	line-height: 36px;
	width: 200px;
	top: 59px;;
	left: 280px;	
}
.calling_in2{
	position: absolute;
	width: 10px;
	height: 10px;
	top:72px;
	left: 470px;
	border-radius: 50px;	
}


.Stick2{
	position: absolute;
	width: 30px;
	height: 0px;
	top: 78px;
	left: 580px;

	border: 1px solid #C2C2C2;
	transform: rotate(90deg);
}
.calling_Send_mute{
	position: absolute;
	width: 100px;
	height: 50px;
	top: 54px;
	left: 630px;
}

.calling_Send_end{
	position: absolute;
	width: 100px;
	height: 50px;
	top: 54px;
	left: 740px;

}


#popup_calling_bar2{
	position: absolute;
	width: 1362px;
	height: 100px;
	left: 1px;
	top: 150px;

	background: #FFFFFF;
	border: 1px solid #BBBBBB;
	box-sizing: border-box;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 50px;
}

.Vector{
	position: absolute;
	left: 3%;
	right: 21%;
	top: 32%;
	
}
.calltypet{
	position: absolute;
	width: 180px;
	height: 59px;
	left: 6%;
	top: 18%;

	font-family: OneShinhan;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 59px;
}

.Stick3{
	position: absolute;
	width: 50px;
	height: 0px;
	left: 23%;
	top: 50%;
	border: 2px solid #BBBBBB;
	transform: rotate(90deg);
}
.clientt{
	position: absolute;
	width: 150px;
	height: 53px;
	left: 29%;
	top: 20%;

	font-family: OneShinhan;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 53px;

	color: #333333;
}

.calling_in{
	position: absolute;
	width: 10px;
	height: 10px;
	top:45%;
	left: 43%;
	border-radius: 50px;	
}

.calling_time{
	position: absolute;
	width: 155px;
	height: 53px;
	font-family: OneShinhan;
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 53px;
	display: flex;
	align-items: center;
	color: #333333;
	top:22%;
	left: 44%;
}
.Stick4{
	position: absolute;
	width: 50px;
	height: 0px;
	left: 58%;
	top: 50%;
	border: 2px solid #BBBBBB;
	transform: rotate(90deg);
}
.call_soundi{
	position: absolute;
	width: 150px;
	height: 80px;
	left: 64%;
	top: 10%;
}
.call_mutei{
	position: absolute;
	width: 150px;
	height: 80px;
	left: 76%;
	top: 10%;
}
.call_endi{
	position: absolute;
	width: 150px;
	height: 80px;
	left: 88%;
	top: 10%;
}