<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
<configuration>
     
    <!-- <typeAliases>
    	사용하려는 DTO에 대한 축약 이름
        <typeAlias type="com.cristoval.web.model.dto.Product" alias="product" />  
        
        hashmap 간편사용
        <typeAlias alias="hashmap" type="java.util.HashMap" />  
    </typeAliases>
    
    사용할 쿼리에 대한 등록
    <mappers>
        <mapper resource="mapper/*.xml" />
    </mappers> -->
    
</configuration>